body{
	color:#6d0664;
	font-family: 'dancing script', cursive;
	font-size: 20px;
	font-weight:normal; ;
	background: #FFAFBD;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #ffc3a0, #FFAFBD);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #ffc3a0, #FFAFBD);
}

header{
	display:flex;
	margin:auto;
	width: 80%;
}

* {
	box-sizing: border-box;

	}

.logo a {
	display: inline-block;
	margin-left: 10px;
}

.menu{ flex-grow:-15;
		display: flex;
		justify-content: flex-end;
		align-items: center;


}
.menu a{ text-decoration: none;
		color: #870691;
		font-weight: bold;

}
.menu ul {
	margin: 0;
	padding:0;
	display: flex;
}

.menu li{
	display: inline-block;
	margin-right:5px;
	margin-left: 5px;
}

h1{text-align: center;
	font-weight: bold;
	width: 100%;
	display: inline-block;
	padding:25px;
}

.grid {

	display: grid;
 	grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(6,auto);
   	padding: 10px;
   	grid-column-gap: 15px;
   	grid-row-gap: 15px;
  	margin: auto;
  	justify-items:stretch;
  	align-items: stretch;
}
footer {
	padding: 25px;
	margin:auto;
	display: inline-block;
	justify-content: left;

}